*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ===================== addModal =====================*/

#addModal
{
	z-index: 10;
	display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	left: 0; top: 0; bottom: 0; right: 0;
	background: rgba(0,0,0,0.6);
	animation: modalDisplay 0.3s;
}
@keyframes modalDisplay
{
	from {opacity: 0}
	to {opacity: 1}
}

#addWindow
{
	background: #fff;
	width: 1200px;
	padding: 20px;
}

#addAnalysisForm h2
{
	display: block;
	margin: 0 auto;
	width: 200px;
	font-size: 25px;
	color: #333;
	font-family: calibri;
	text-align: center;
}

#addWindowBoxContainer
{
	display: flex;
	justify-content: space-evenly;
}

.addWindowBox
{
	max-width: 350px;
	background: #bbf;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}

.addWindowText
{
	font-size: 16px;
	font-family: consolas;
	text-align: justify;
}

.textInput
{	
	display: block;
	margin: 10px auto;
	background: transparent;
	border: 1px solid grey;
	border-radius: 5px;
	width: 80%;
	height: 20px;
}

.regionInput
{
	margin-top: 20px;
}

.langFlag
{
	width: 50px;
	height: 20px;
}

#saveAnalysis
{
	display: block;
	margin: 0 auto;
	border: 1px solid #777;
	border-radius: 10px;
	background: #ccc;
	font-size: 18px;
	color: #444;
	padding: 8px;
	cursor: pointer;
}

/* ===================== infoBox =====================*/

#infoBox
{
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	background: #eee;
	animation: infoBoxAnim 0.2s;
}
@keyframes infoBoxAnim
{
	from {opacity: 0; margin-top: -100px;}
	to {opacity: 1; margin-top: 0px;}
}

#domainInfo, #phraseInfo
{
	overflow: auto;
	font-family: consolas;
	border: 1px solid black;
	width: 50%;
}

/* ===================== analysesBox =====================*/

#analysesBox
{
	margin: 0 auto;
	width: 700px;
}
#analysesBox h2
{
	font-family: consolas;
	font-size: 25px;
}

#analyses
{
	border: 1px solid grey;
	padding: 10px;
	overflow: auto;
	max-height: 210px;
}

.analysis
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid darkgray;
}
.analysis > div
{
	font-family: consolas;
	margin: 0px 10px;
	padding: 4px 0px;
}

.analysisId
{
	font-family: calibri;
}

.domain
{
	width: 200px;
	border: 1px solid red;
	overflow: hidden;
}

.phrase
{
	width: 350px;
	border: 1px solid red;
	overflow: hidden;
}

.domain:hover, .phrase:hover
{
	background: #eee;
}

.deleteAnalysis
{
	margin-left: auto;
}

#addAnalysis
{
	position: relative;
	background: transparent;
	border: 1px solid #666;
	font-size: 20px;
	padding: 5px;
}

/* ===================== chart =====================*/

#chart
{

}